.profile__image{
    max-height: 127px;
    border-radius: 100%;
    grid-area: profile-pic;
    margin-right: 30px;
}

@media screen and (max-width: 320px) {
    .profile__image{
        max-width: 168.75px;
    }
}