.cards__container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    padding: 0;
    gap:  21px 17px;
    margin: 0;
}

@media screen and (max-width: 320px) {
   .cards__container{
    grid-template-columns: repeat(1, auto) ;
    grid-template-rows: repeat(1, auto);
    gap: 20px 19px;
    padding: 0;
    margin: 0;
   } 
}