.card__like {
  width: 21px;
  height: 18px;
  transition: 0.3s opacity ease-out;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  background-image: url(../../../images/Like.png);
}

.card__like:hover {
  opacity: 0.5s;
}

.card__like:active{
  background: black;
}
